* {
  box-sizing: border-box;
  background-color: rgba(213, 213, 198, 0.99);
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  width: 100%; /* Assicurati che prenda tutta la larghezza disponibile */
  max-width: 100%; /* Opzionale, per limitare la larghezza massima */
}

.cards {
  border-radius: 0.375rem; 

  transition: transform 0.3s ease; /* Transizione fluida */
}

.cards:hover {
  transform: scale(1.10); /* Ingrandisce la card del 5% */
}
